{"openapi":"3.1.0","info":{"title":"DocStudio Api Documentation","version":"R134.10"},"servers":[{"url":"https://api.docstudio.com","description":"Generated server url"}],"paths":{"/api/v1/user/signature":{"put":{"tags":["user-controller"],"summary":"Update user's eink signature in base64 format","operationId":"changeSignature","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/profile":{"get":{"tags":["user-controller"],"summary":"Retrieve self profile","operationId":"getProfile","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["user-controller"],"summary":"Update self profile","operationId":"updateProfile","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ProfileDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/profile/{uuid}/account/{accountUuid}":{"get":{"tags":["user-controller"],"summary":"Retrieve corporate user profile","operationId":"getCorporateUserProfile","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateProfileDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["user-controller"],"summary":"Update corporate user's profile","operationId":"updateCorporateUserProfile","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateProfileDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CorporateProfileDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/password":{"put":{"tags":["user-controller"],"summary":"Update user's password","operationId":"changePassword","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdatePasswordDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/invite/{uuid}":{"put":{"tags":["user-invite-controller"],"summary":"Update invitation by userUuid","operationId":"updateInvitation","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationPutDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/initials":{"put":{"tags":["user-controller"],"summary":"Update user's initials in base64 format","operationId":"changeInitials","requestBody":{"content":{"application/json":{"schema":{"type":"string"}}}},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/upload/{uploadUuid}/confirm":{"put":{"tags":["upload-controller"],"summary":"Approve import process","operationId":"confirm","parameters":[{"name":"uploadUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ConfirmUploadDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/template/{uuid}":{"get":{"tags":["template-controller"],"summary":"Retrieve template by UUID","operationId":"getTemplateByUuid","parameters":[{"name":"uuid","in":"path","description":"UUID of template to retrieve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"templateVersion","in":"query","description":"UUID of version","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"checkEnvelopeCreation","in":"query","description":"Check if envelope can be created using this template","required":false,"schema":{"type":"boolean"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["template-controller"],"summary":"Update template in DB. Category in template could be null.","operationId":"update","parameters":[{"name":"uuid","in":"path","description":"Template uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"head":{"tags":["template-controller"],"summary":"Check template exists by UUID","operationId":"checkTemplateExistsByUuid","parameters":[{"name":"uuid","in":"path","description":"UUID of template to retrieve","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/template/{uuid}/zip-structure":{"get":{"tags":["template-controller"],"summary":"Get structure with all files for zip archive","operationId":"getZipStructure","parameters":[{"name":"uuid","in":"path","description":"UUID of template","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"templateVersion","in":"query","description":"UUID of version","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"title","in":"query","description":"Title of zip structure (to mark files as selected)","required":false,"schema":{"type":"string"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateZipStructureDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["template-controller"],"summary":"Add new files structure for zip archive","operationId":"addZipStructure","parameters":[{"name":"uuid","in":"path","description":"UUID of template","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"templateVersion","in":"query","description":"UUID of version","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewTemplateZipStructureDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/scenario/{scenarioUuid}":{"get":{"tags":["scenario-controller"],"summary":"Get scenario","operationId":"getScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["scenario-controller"],"summary":"Update scenario","operationId":"updateScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["scenario-controller"],"summary":"Run scenario","operationId":"runScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["scenario-controller"],"summary":"Delete scenario","operationId":"deleteScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/scenario/{scenarioUuid}/clone":{"put":{"tags":["scenario-controller"],"summary":"Clone scenario","operationId":"cloneScenario","parameters":[{"name":"scenarioUuid","in":"path","description":"Scenario uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/permission/{userUuid}/mailbox/{mailboxUuid}":{"put":{"tags":["permission-mailbox-controller"],"summary":"Replace all permissions for selected user-to-mailbox relation","operationId":"replaceAllPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["permission-mailbox-controller"],"summary":"Delete all permissions and roles for selected user-to-mailbox relation","operationId":"deleteAllPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["permission-mailbox-controller"],"summary":"Add exact permissions/roles leaving existing as is. Ignore if already present.","operationId":"patchMbPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/permission/{userUuid}/account/{accountUuid}":{"get":{"tags":["permission-account-controller"],"summary":"Read all user permissions","operationId":"getUserAccountPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountPermissionsDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["permission-account-controller"],"summary":"Replace all permissions for selected user-to-account relation","operationId":"replaceAllPermissions_1","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["permission-account-controller"],"summary":"Write user permissions","operationId":"setUserAccountPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BasePermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["permission-account-controller"],"summary":"Delete user from account totally","operationId":"deleteAccAllPermissions","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["permission-account-controller"],"summary":"Add exact permission for selected user-to-account relation. Add if absent or ignore if already present.","operationId":"patchMbPermissions_1","parameters":[{"name":"userUuid","in":"path","description":"UUID of User","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"UUID of account","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PermissionsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/permission/role/{uuid}":{"get":{"tags":["role-controller"],"summary":"Read role by UUID","operationId":"read","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleGetDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["role-controller"],"summary":"Update role, allow to change name and permissions","operationId":"update_1","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleGetDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["role-controller"],"operationId":"delete","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/api/v1/mailbox/{mailboxUuid}":{"put":{"tags":["mailbox-controller"],"summary":"Update mailbox","operationId":"updateMailbox","parameters":[{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxUpdateRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountMailboxInfoDTO"}}}}},"security":[{"bearerAuth":[]}]},"patch":{"tags":["mailbox-controller"],"summary":"Patch mailbox, return patched mailbox w/o users count","operationId":"patchMailbox","parameters":[{"name":"mailboxUuid","in":"path","description":"UUID of mailbox","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxPatchRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountMailboxInfoDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/mailbox/{mailboxUuid}/dashboard":{"get":{"tags":["mailbox-controller"],"summary":"Get mailbox dashboard","operationId":"getCustomizedDashboard","parameters":[{"name":"mailboxUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxDashboardDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["mailbox-controller"],"summary":"Customize mailbox dashboard","operationId":"customizeDashboard","parameters":[{"name":"mailboxUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxDashboardDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/mailbox/{mailboxUuid}/auto-delegation":{"get":{"tags":["mailbox-controller"],"summary":"Get auto delegation settings","operationId":"getAutoDelegation","parameters":[{"name":"mailboxUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxDelegationDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["mailbox-controller"],"summary":"Update auto delegation settings","operationId":"updateAutoDelegation","parameters":[{"name":"mailboxUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxDelegationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/label/{uuid}":{"put":{"tags":["label-controller"],"summary":"Update label","operationId":"update_2","parameters":[{"name":"uuid","in":"path","description":"UUID of label to update","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["label-controller"],"summary":"Delete label","operationId":"delete_1","parameters":[{"name":"uuid","in":"path","description":"UUID of label to delete","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/rule/{integrationRuleUuid}":{"get":{"tags":["integration-controller"],"summary":"Get integration rule","operationId":"getIntegrationRule","parameters":[{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"baseFields","in":"query","description":"Get only based fields (skip large ones)","required":false,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRule"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["integration-controller"],"summary":"Update integration rule","operationId":"updateIntegrationRule","parameters":[{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRule"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["integration-controller"],"summary":"Delete integration rule","operationId":"deleteIntegrationRule","parameters":[{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/filterSettings/{uuid}":{"get":{"tags":["filter-settings-controller"],"summary":"Get by UUID","operationId":"getByUuid","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSettingsDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["filter-settings-controller"],"summary":"Update FilterSettings for mailbox","operationId":"update_3","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSettingsDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["filter-settings-controller"],"summary":"Delete FilterSettings","operationId":"delete_2","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope":{"put":{"tags":["envelope-controller"],"summary":"Update draft envelope","operationId":"update_4","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"post":{"tags":["envelope-controller"],"summary":"Create draft envelope","operationId":"create","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Delete draft envelopes","operationId":"deleteDrafts","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/BulkEnvelopeActionDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/sign":{"put":{"tags":["envelope-controller"],"summary":"Sign envelope documents","operationId":"sign","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope to update","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"sessionId","in":"query","description":"Mass signing session UUID","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Document signatures","items":{"$ref":"#/components/schemas/EnvelopeDocumentSignaturesDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/comment":{"get":{"tags":["envelope-controller"],"summary":"Get envelope comments for each document","operationId":"getEnvelopeComments","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentCommentsDTO"}}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["envelope-controller"],"summary":"Add/Update envelope comment in thread","operationId":"updateEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPutDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["envelope-controller"],"summary":"Create envelope comment thread","operationId":"createEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Delete envelope comment in thread or the whole thread","operationId":"deleteEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"threadUuid","in":"query","description":"Thread UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"messageId","in":"query","description":"Message ID (optional)","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/comment-access":{"put":{"tags":["envelope-controller"],"summary":"Update envelope comment thread access level","operationId":"updateEnvelopeCommentAccess","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentAccessDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommentThreadDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/send-for-approval":{"put":{"tags":["envelope-controller"],"summary":"Send envelope for approval","operationId":"sendForApproval","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeApprovalRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/fill":{"put":{"tags":["envelope-controller"],"summary":"Fill envelope","operationId":"fill","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/column/{uuid}":{"put":{"tags":["envelope-search-controller"],"summary":"Update column to display","operationId":"updateColumn","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateEnvColumnDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/chain/{chainUuid}":{"get":{"tags":["envelope-controller"],"summary":"Get chain envelopes list","operationId":"getChainEnvelopes","parameters":[{"name":"chainUuid","in":"path","description":"Chain UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ChainEnvelopeDTO"}}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["envelope-controller"],"summary":"Add envelopes into chain","operationId":"addEnvelopesIntoChain","parameters":[{"name":"chainUuid","in":"path","description":"Chain UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Envelopes UUIDs","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/approval":{"put":{"tags":["envelope-controller"],"summary":"Approve or Reject envelopes","operationId":"envelopeApproval","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApprovalStatusDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/dictionary/{dictionaryUuid}/column/{columnUuid}":{"put":{"tags":["dictionary-controller"],"summary":"Update dictionary column","operationId":"updateColumn_1","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryColumnRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryColumnResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["dictionary-controller"],"summary":"Retrieve column values from dictionary","operationId":"getColumnValues","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DictionaryColumnValueSearchDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTODictionaryColumnValueResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["dictionary-controller"],"summary":"Delete column. Will return deleted column UUID","operationId":"deleteColumn","parameters":[{"name":"dictionaryUuid","in":"path","description":"Dictionary UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"columnUuid","in":"path","description":"Column UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/contact/{uuid}":{"put":{"tags":["contact-controller"],"summary":"Update the contact in DB","operationId":"update_5","parameters":[{"name":"uuid","in":"path","description":"Contact UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["contact-controller"],"summary":"Delete contact by Id","operationId":"delete_3","parameters":[{"name":"uuid","in":"path","description":"Contact UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/api/v1/category/{id}":{"put":{"tags":["category-controller"],"summary":"Update the category in DB","operationId":"update_6","parameters":[{"name":"id","in":"path","description":"Category Id","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CategoryDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["category-controller"],"summary":"Delete category by Id","operationId":"delete_4","parameters":[{"name":"id","in":"path","description":"Category Id","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"moveTo","in":"query","description":"Optional id of category to move all subordinated (if any)","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"keepChildren","in":"query","description":"Optional, if true and moveTo is null all children will become root categories","required":false,"schema":{"type":"boolean"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/api/v1/automation/account/{accountId}/{id}":{"get":{"tags":["automation-controller"],"summary":"Retrieve automation","operationId":"getAutomation","parameters":[{"name":"accountId","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","description":"Automation UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"version","in":"query","description":"Version","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationGet"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["automation-controller"],"summary":"Update automation","operationId":"updateAutomation","parameters":[{"name":"accountId","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","description":"Automation UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AutomationUpdate"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["automation-controller"],"summary":"Delete automation","operationId":"deleteAutomation","parameters":[{"name":"accountId","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"id","in":"path","description":"Automation UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/audittrail/envelope/{uuid}":{"get":{"tags":["audit-trail-controller"],"operationId":"getAuditTrailByEnvelope","parameters":[{"name":"uuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AuditTrailDTO"}}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["audit-trail-controller"],"operationId":"addAuditTrailRecord","parameters":[{"name":"uuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditTrailInfoRecordDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/approvalFlow/{flowUuid}":{"get":{"tags":["approval-flow-controller"],"summary":"Retrieve approval flow","operationId":"retrieve","parameters":[{"name":"flowUuid","in":"path","description":"UUID of the approval flow","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxApprovalFlowGetDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["approval-flow-controller"],"summary":"Update approval flow","operationId":"update_7","parameters":[{"name":"flowUuid","in":"path","description":"UUID of the approval flow","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxApprovalFlowDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/account/{uuid}":{"get":{"tags":["account-controller"],"operationId":"getAccountDetails","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"withUsers","in":"query","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["account-controller"],"operationId":"updateAccountDetails","parameters":[{"name":"uuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateAccountRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["account-controller"],"summary":"Delete account","operationId":"deleteAccount","parameters":[{"name":"checkMessage","in":"query","description":"Proof message","required":true,"schema":{"type":"string"}},{"name":"uuid","in":"path","description":"UUID of account to delete","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/api/v1/account/{accountUuid}/idp/{idpUuid}":{"get":{"tags":["account-domain-controller"],"summary":"Get account SSO IdP","operationId":"getAccountIdp","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"idpUuid","in":"path","description":"IdP UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSsoIdProviderDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["account-domain-controller"],"summary":"Update account SSO Identity Provider","operationId":"updateAccountSsoIdp","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"idpUuid","in":"path","description":"IdP UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSsoIdProviderUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountSsoIdProviderDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["account-domain-controller"],"summary":"Delete account SSO IdP","operationId":"deleteAccountIdp","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"idpUuid","in":"path","description":"IdP UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/account/{accountUuid}/external-link/{linkUuid}":{"put":{"tags":["external-link-controller"],"summary":"Update external link","operationId":"updateExternalLink","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"linkUuid","in":"path","description":"Link UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalLinkRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExternalLinkResponseDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["external-link-controller"],"summary":"Delete external link","operationId":"deleteExternalLink","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"linkUuid","in":"path","description":"Link UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No Content"}},"security":[{"bearerAuth":[]}]}},"/api/v1/account/{accountUuid}/domain/{domainUuid}":{"get":{"tags":["account-domain-controller"],"summary":"Get account domain","operationId":"getAccountDomain","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDomainDTO"}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["account-domain-controller"],"summary":"Update account domain","operationId":"updateAccountDomain","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDomainUpdateDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountDomainDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["account-domain-controller"],"summary":"Delete account domain","operationId":"deleteAccountDomain","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"domainUuid","in":"path","description":"Domain UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/account/{accountUuid}/crypto-configs":{"get":{"tags":["account-controller"],"summary":"Get crypto configs","operationId":"getCryptoConfigs","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CryptoConfigDTO"}}}}}},"security":[{"bearerAuth":[]}]},"put":{"tags":["account-controller"],"summary":"Add crypto configs","operationId":"addNewCryptoConfigs","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/CryptoConfigDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["account-controller"],"summary":"Delete crypto configs","operationId":"deleteCryptoConfigs","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/invite":{"post":{"tags":["user-invite-controller"],"summary":"Create invitation to join account or mailbox with defined permissions","operationId":"createInvitation","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InvitationPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/invite/accept/{inviteCode}":{"post":{"tags":["user-invite-controller"],"summary":"Accept invite","operationId":"acceptInvite","parameters":[{"name":"inviteCode","in":"path","description":"Invite code","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/user/info":{"post":{"tags":["user-controller"],"summary":"Retrieve users info","operationId":"getMailboxesInfo","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"UUIDs of users to get info about","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/UserInfoDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/upload/dictionary/{dictionaryUuid}":{"post":{"tags":["upload-controller"],"summary":"Upload dictionary file for importing","operationId":"uploadDictionary","parameters":[{"name":"dictionaryUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/token":{"get":{"tags":["application-token-controller"],"summary":"List application tokens","operationId":"getUserTokens","responses":{"405":{"description":"Method disabled by configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonExceptionDTO"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/AppTokenDTO"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["application-token-controller"],"summary":"Create application token","operationId":"createToken","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateAppTokenDTO"}}},"required":true},"responses":{"405":{"description":"Method disabled by configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonExceptionDTO"}}}},"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AppTokenDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/template":{"get":{"tags":["template-controller"],"summary":"Get paged templates list","operationId":"searchTemplates","parameters":[{"name":"level","in":"query","description":"Template access level, 'public' by default.","required":false,"schema":{"type":"string","default":"public","enum":["mailbox","account","public","official","shared","public-hidden"]}},{"name":"keyword","in":"query","description":"Keyword to search template by or template UUID","required":false,"schema":{"type":"string"}},{"name":"category","in":"query","description":"Category id to search template in","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"extended","in":"query","description":"Add extended info to each template (access, account, categories)","required":false,"schema":{"type":"boolean","default":false}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOSearchTemplateDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["template-controller"],"summary":"Create new template","operationId":"create_1","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/template/{uuid}/clone":{"post":{"tags":["template-controller"],"summary":"Clone template","operationId":"clone","parameters":[{"name":"uuid","in":"path","description":"Template UUID to clone","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FullTemplateResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/template/pdf":{"post":{"tags":["template-controller"],"summary":"Upload new PDF","operationId":"uploadPdf","parameters":[{"name":"action","in":"query","description":"Action for fields inside the PDF file","required":false,"schema":{"type":"string","enum":["PARSE","DELETE","KEEP","PARSE_SAFE","KEEP_SAFE"]}},{"name":"clearFields","in":"query","description":"Clear non-readonly fields in response PDF (only for PARSE action)","required":false,"schema":{"type":"boolean"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedPdfDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/template/image":{"post":{"tags":["template-controller"],"summary":"Upload new image","operationId":"uploadImage","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedImageDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/scenario":{"get":{"tags":["scenario-controller"],"summary":"Get paged scenario list","operationId":"searchScenarios","parameters":[{"name":"level","in":"query","description":"Scenario access level, 'public' by default.","required":false,"schema":{"type":"string","default":"public","enum":["mailbox","account","public","official","shared","public-hidden"]}},{"name":"keyword","in":"query","description":"Keyword to search scenario by or scenario UUID","required":false,"schema":{"type":"string"}},{"name":"offset","in":"query","description":"Offset records","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit records, max is 1000","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOScenarioShortDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["scenario-controller"],"summary":"Create new scenario","operationId":"createNewScenario","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ScenarioDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/permission/role":{"get":{"tags":["role-controller"],"summary":"Read all system roles","operationId":"readAll","parameters":[{"name":"offset","in":"query","description":"Offset, how much roles to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how much roles to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTORoleGetDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["role-controller"],"summary":"Create a role","operationId":"create_2","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/RoleGetDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/permission/invite/{accountUuid}/{userUuid}/resend":{"post":{"tags":["permission-controller"],"summary":"Resend invitation for user to account","operationId":"resendInvitation","parameters":[{"name":"accountUuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","description":"User UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notification/user/{userUuid}/account/{accountUuid}/mailbox-preferences":{"get":{"tags":["notification-controller"],"summary":"Get corporate user mailbox related notification preferences","operationId":"getMailboxPreferences","parameters":[{"name":"Mailbox","in":"header","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","description":"User uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"Account uuid","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["notification-controller"],"summary":"Update corporate user mailbox related notification preferences","operationId":"setMailboxPreferences","parameters":[{"name":"Mailbox","in":"header","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"userUuid","in":"path","description":"User uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"Account uuid","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}},"description":"Preferences map, possible keys (email, web)"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notification/user/{userUuid}/account/{accountUuid}/account-preferences":{"get":{"tags":["notification-controller"],"summary":"Get corporate user account related notification preferences","operationId":"getCorporateUserAccountPreferences","parameters":[{"name":"userUuid","in":"path","description":"User uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"Account uuid","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["notification-controller"],"summary":"Update corporate user account related notification preferences","operationId":"setCorporateUserAccountPreferences","parameters":[{"name":"userUuid","in":"path","description":"User uuid","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"accountUuid","in":"path","description":"Account uuid","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}},"description":"Preferences map, possible keys (email, web)"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notification/read":{"post":{"tags":["notification-controller"],"summary":"Mark notifications as read","operationId":"markNotificationRead","requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Notification UUIDs","items":{"$ref":"#/components/schemas/SingleUuidDTO"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notification/read-all":{"post":{"tags":["notification-controller"],"summary":"Mark notifications as read","operationId":"markAllNotificationRead","responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notification/mailbox-preferences":{"get":{"tags":["notification-controller"],"summary":"Get mailbox related notification preferences","operationId":"getMailboxPreferences_1","parameters":[{"name":"Mailbox","in":"header","required":false,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["notification-controller"],"summary":"Update mailbox related notification preferences","operationId":"saveMailboxPreferences","parameters":[{"name":"Mailbox","in":"header","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}},"description":"Preferences map, possible keys (email, web)"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/notification/account-preferences":{"get":{"tags":["notification-controller"],"summary":"Get account related notification preferences","operationId":"getAccountPreferences","responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["notification-controller"],"summary":"Update account related notification preferences","operationId":"saveAccountPreferences","requestBody":{"content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"integer","format":"int32"}},"description":"Preferences map, possible keys (email, web)"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/mailbox/info":{"post":{"tags":["mailbox-controller"],"summary":"Retrieve mailboxes info","operationId":"getMailboxesInfo_1","parameters":[{"name":"accountName","in":"query","description":"Including account name","required":false,"schema":{"type":"boolean","default":false}},{"name":"accountITN","in":"query","description":"Including account ITN","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"UUIDs of mailboxes to get info about","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"$ref":"#/components/schemas/MailboxInfoDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/mailbox/account/{uuid}":{"get":{"tags":["mailbox-controller"],"summary":"Read list of account mailboxes","operationId":"getMailboxesByAccount","parameters":[{"name":"uuid","in":"path","description":"Account UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/MailboxNameUuidDTO"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["mailbox-controller"],"summary":"Create mailbox","operationId":"createMailbox","parameters":[{"name":"uuid","in":"path","description":"UUID of account for which to create a mailbox","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"code","in":"query","description":"Invitation code from email","required":false,"schema":{"type":"string"}},{"name":"codeType","in":"query","description":"Type of code","required":false,"schema":{"type":"string","enum":["envelopeInvite","accountInvite","emailValidation","sharedByEmail","externalAuth"]}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/User2MailboxDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/label":{"get":{"tags":["label-controller"],"summary":"Retrieve all labels for mailbox for authorized user","operationId":"getAll","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/LabelDTO"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["label-controller"],"summary":"Save label to DB","operationId":"create_3","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/label/assignments":{"post":{"tags":["label-controller"],"summary":"Assign label to envelopes","operationId":"assignments","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelAssociationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["label-controller"],"summary":"Unassign label from envelopes","operationId":"deAssignments","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LabelAssociationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/{mailboxUuid}":{"get":{"tags":["integration-controller"],"summary":"Get Mailbox integration","operationId":"getMailboxIntegration","parameters":[{"name":"mailboxUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxIntegration"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["integration-controller"],"summary":"Create/update Mailbox integration","operationId":"saveMailboxIntegration","parameters":[{"name":"mailboxUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxIntegration"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MailboxIntegration"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/rule":{"post":{"tags":["integration-controller"],"summary":"Create integration rule","operationId":"createIntegrationRule","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRule"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRule"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/rule/{integrationRuleUuid}/activate/{flag}":{"post":{"tags":["integration-controller"],"summary":"Activate integration rule","operationId":"activateIntegrationRule","parameters":[{"name":"integrationRuleUuid","in":"path","description":"UUID of integration rule","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"flag","in":"path","description":"Active state","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/rule/execute":{"post":{"tags":["integration-controller"],"summary":"Execute conversion map and generate file name (if pattern rule defined)","operationId":"execute","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationRuleResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/new-password/{mailboxUuid}":{"post":{"tags":["integration-controller"],"summary":"Generate and save new password","operationId":"newPassword","parameters":[{"name":"mailboxUuid","in":"path","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"object"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/convert-binary":{"post":{"tags":["integration-controller"],"summary":"Convert incoming file to XML view","operationId":"convertBinaryToXML","parameters":[{"name":"mailboxUuid","in":"query","description":"Mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"filename","in":"query","description":"filename, for type detection","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","format":"byte","description":"file content"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"string"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/integration/conversion-log/reprocess":{"post":{"tags":["integration-controller"],"summary":"Reprocess log record","operationId":"reprocessLogRecord","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntegrationReprocessRequest"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/formula":{"post":{"tags":["misc-controller"],"summary":"Calculate excel formulas for documents","operationId":"calculateFormula","requestBody":{"content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocFormulaRequestDTO"}}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"object","additionalProperties":{}}}}}}}}},"/api/v1/form":{"post":{"tags":["form-controller"],"summary":"Create new form","operationId":"createNewForm","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormCreate"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormGet"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/form/{id}":{"get":{"tags":["form-controller"],"summary":"Get form","operationId":"getForm","parameters":[{"name":"id","in":"path","description":"Form UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormGet"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["form-controller"],"summary":"Update form","operationId":"updateForm","parameters":[{"name":"id","in":"path","description":"Form UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormCreate"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/FormGet"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/filterSettings":{"get":{"tags":["filter-settings-controller"],"summary":"Read all by mailbox","operationId":"getAll_1","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/FilterSettingsDTO"}}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["filter-settings-controller"],"summary":"Create FilterSettings for mailbox","operationId":"create_4","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FilterSettingsCreateDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/sign-ses":{"post":{"tags":["envelope-controller"],"summary":"Sign envelope with SES","operationId":"signSES","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope to fill","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"sessionId","in":"query","description":"Mass signing session UUID","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string","description":"Base64 encoded signature","minLength":1}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/scenario/{stepId}":{"post":{"tags":["envelope-controller"],"summary":"Continue scenario flow with step","operationId":"continueScenarioStep","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"stepId","in":"path","description":"Step id","required":true,"schema":{"type":"string"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/resolve-comment":{"post":{"tags":["envelope-controller"],"summary":"Set Resolved Flag for comment thread","operationId":"resolvedEnvelopeComment","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResolveCommentThreadDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/for-single-sign":{"post":{"tags":["envelope-controller"],"summary":"BINARY and XML for signing","operationId":"getDocumentForSign","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"sessionId","in":"query","description":"Mass signing session UUID","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleDocForSignRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentForSigningDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/for-sign":{"post":{"tags":["envelope-controller"],"summary":"BINARYs and XMLs for signing","operationId":"getDocumentsForSign","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"sessionId","in":"query","description":"Mass signing session UUID","required":false,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentsForSignRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/DocumentForSigningDTO"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/{envelopeUuid}/for-sign-file":{"post":{"tags":["envelope-controller"],"summary":"Get BINARY or XML for signing","operationId":"getDocumentFileForSign","parameters":[{"name":"envelopeUuid","in":"path","description":"Envelope UUID","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DocumentFileForSignRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/octet-stream":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/share-copy":{"post":{"tags":["envelope-controller"],"summary":"Share envelopes copies","operationId":"shareEnvelopesCopy","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeSharedCopyRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Revoke sharing an envelope copy","operationId":"revokeEnvelopeSharing","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeSharedCopyRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/share-archive":{"post":{"tags":["envelope-controller"],"summary":"Share envelopes by email","operationId":"shareEnvelopesByEmail","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeSharedArchiveRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/send":{"post":{"tags":["envelope-controller"],"summary":"Send envelope","operationId":"send","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvPostDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/send-by-share-code":{"post":{"tags":["envelope-controller"],"summary":"Send envelope by template code","operationId":"sendByTemplateCode","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SendEnvByCodeDTO"}}},"required":true},"responses":{"405":{"description":"Method disabled by configuration","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CommonExceptionDTO"}}}},"201":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LoginEnvelopeResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/search":{"post":{"tags":["envelope-search-controller"],"summary":"Search envelopes","operationId":"searchEnvelopes","parameters":[{"name":"offset","in":"query","description":"Offset, how many envelopes to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how many envelopes to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"uuidOnly","in":"query","description":"Retrieve only UUID of envelope","required":false,"schema":{"type":"boolean"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchEnvelopesDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopePageDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/search/roles":{"post":{"tags":["envelope-search-controller"],"summary":"Retrieve all template roles","operationId":"getTemplateRoles","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"UUIDs of template","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TemplateRolesDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/search-approvals":{"post":{"tags":["envelope-search-controller"],"summary":"Search envelopes for approval","operationId":"searchEnvelopesForApproval","parameters":[{"name":"offset","in":"query","description":"Offset, how many envelopes to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how many envelopes to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}},{"name":"uuidOnly","in":"query","description":"Retrieve only UUID of envelope","required":false,"schema":{"type":"boolean"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchApprovalsDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeApprovalPageDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/report":{"post":{"tags":["envelope-search-controller"],"summary":"Request envelopes report","operationId":"createReport","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportEnvelopeRequestDTO"}}},"required":true},"responses":{"201":{"description":"Created"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/quick-send":{"post":{"tags":["envelope-controller"],"summary":"Quick send envelope with external documents only","operationId":"quickSendExternalDocuments","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"array","description":"Files for external documents","items":{"type":"string","format":"binary"}},"data":{"$ref":"#/components/schemas/QuickSendDTO"}},"required":["data","files"]}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/public-quick-send":{"post":{"tags":["envelope-controller"],"summary":"Public quick send envelope with one external document","operationId":"publicQuickSendWithOneExternalDocument","requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"File for external document"},"data":{"$ref":"#/components/schemas/PublicQuickSend"}},"required":["data","file"]}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IdResult"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/pdf-attachment":{"post":{"tags":["envelope-controller"],"summary":"Create/upload new PDF attachment","operationId":"createPdfAttachment","parameters":[{"name":"action","in":"query","description":"Action for fields inside the PDF file","required":false,"schema":{"type":"string","enum":["DELETE","KEEP","KEEP_SAFE"]}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":false,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary"}},"required":["file"]}}}},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedAttachmentDTO"}}}}}}},"/api/v1/envelope/one-time-send":{"post":{"tags":["envelope-controller"],"summary":"The envelope will be sent just once (template will be marked as deleted)","operationId":"oneTimeSend","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OneTimeSendDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/notify":{"post":{"tags":["envelope-controller"],"summary":"Resend notifications for active roles","operationId":"resendNotifications","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportEnvelopeRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/invitations":{"get":{"tags":["envelope-controller"],"summary":"Get user's pending invitations","operationId":"getUserPendingInvitations","parameters":[{"name":"offset","in":"query","description":"Offset, how much envelopes to skip","required":false,"schema":{"type":"integer","format":"int32","default":0}},{"name":"limit","in":"query","description":"Limit, how much envelopes to retrieve","required":false,"schema":{"type":"integer","format":"int32","default":25}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PageDTOEnvelopeToMailboxDTO"}}}}},"security":[{"bearerAuth":[]}]},"post":{"tags":["envelope-controller"],"summary":"Accept user's pending invitations","operationId":"acceptUserPendingInvitations","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Envelope UUID list to accept invitations to","items":{"type":"string","format":"uuid"}}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]},"head":{"tags":["envelope-controller"],"summary":"Check user has pending invitations","operationId":"checkUserHasInvitations","responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/generate-stamp":{"post":{"tags":["envelope-controller"],"summary":"Generate stamp by certificate","operationId":"generateStamp","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StampRequestDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"image/png":{"schema":{"type":"string","format":"binary"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/fields":{"post":{"tags":["envelope-search-controller"],"summary":"Get search fields","operationId":"getSearchFields","parameters":[{"name":"name","in":"query","description":"Field name term","required":true,"schema":{"type":"string","maxLength":2147483647,"minLength":2}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SearchEnvelopesDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnvelopeSearchField"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/delegate":{"post":{"tags":["envelope-controller"],"summary":"Delegate envelopes","operationId":"delegateEnvelopes","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvDelegationDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["envelope-controller"],"summary":"Cancel envelope delegation","operationId":"cancelEnvelopeDelegation","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeCancelDelegationDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/confirm-invite":{"post":{"tags":["envelope-controller"],"summary":"Accept/confirm invitations","operationId":"confirmInvite","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvelopeConfirmInviteDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/column":{"post":{"tags":["envelope-search-controller"],"summary":"Add a new column to display","operationId":"addNewColumn","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/NewEnvColumnDTO"}}},"required":true},"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]},"delete":{"tags":["envelope-search-controller"],"summary":"Delete columns from displaying","operationId":"deleteColumn_1","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/DeleteEnvColumnDTO"}}},"required":true},"responses":{"200":{"description":"OK"}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/column-reset":{"post":{"tags":["envelope-search-controller"],"summary":"Reset column settings","operationId":"resetColumnSettings","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/EnvelopeViewColumn"}}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/clone-attachment":{"post":{"tags":["envelope-controller"],"summary":"Clone an existing attachment","operationId":"cloneAttachment","parameters":[{"name":"attachmentUuid","in":"query","required":true,"schema":{"type":"string","format":"uuid"}},{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"responses":{"201":{"description":"Created","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadedAttachmentDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/check":{"post":{"tags":["envelope-controller"],"summary":"Check an envelope","operationId":"check","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/EnvDTO"}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ValidationResponseDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/chain":{"post":{"tags":["envelope-controller"],"summary":"Merge envelopes into chain","operationId":"mergeEnvelopesIntoChain","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"array","description":"Envelopes UUIDs","items":{"type":"string","format":"uuid"},"uniqueItems":true}}},"required":true},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SingleUuidDTO"}}}}},"security":[{"bearerAuth":[]}]}},"/api/v1/envelope/callback/add":{"post":{"tags":["envelope-callback-controller"],"summary":"Add new callback","operationId":"createCallback","parameters":[{"name":"Mailbox","in":"header","description":"Mailbox context, HTTP Header with current mailbox UUID","required":true,"schema":{"type":"s
[...]
